body {
  font-family: Bitter, sans-serif;
  background-color: black;
  color: white;
}

h1 {
  /* use fuild typhography and sass */
  font-size: 4vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 2vw;
}
